@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
body{
    height: 700px;
    width: 100%;
    background-image:url(../public/Logingb.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
.main-container{
    background-color:white;
    height: 275px;
    width: 32%;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 5;
    text-align: center; 
    margin:auto;
    margin-top: 160px;
}

.main-container h1{
    color: rgb(71, 36, 101);
    font-family:cursive ;
    font-weight: bold;
    font-style: oblique;
    padding: 1rem;
    font-size: 40px;
}
h1:hover{
    color: black;
}
.main-container h4{
    color: rgb(49, 29, 14);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 2em;
    font-size: 30px;
}
.login-page .login-content label{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
}
.login-page .login-content input{
    background-color: transparent;
    opacity: 4;
    width: 250px;
}
.login-page .login-content .login-button input{
    background-color: #223753;
    font-size: 15px;
    height: 30px;
    width: 150px;
    color: white;
}