@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
body{
    height: 700px;
    width: 100%;
    background-image:url('../public/mainpagebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
.main-content{
    background-color:white;
    height: 250px;
    width: 35%;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 5;
    text-align: center; 
    margin:auto;
    margin-top: 150px;
}
.main-content .content h1{
    color: rgb(51, 34, 92);
    font-family:cursive ;
    font-weight: bold;
    font-style: oblique;
    padding: 1rem;
    font-size: 38px;
}
h1:hover{
    color: black;
}
.main-content .content  h4{
    color: rgb(49, 29, 14);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 2em;
    font-size: 25px;
}
.main-content .content  label{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
}
.main-content .content  input{
    background-color: transparent;
    opacity: 4;
    width: 250px;
    height: 30px;
}

#searchbtn {
    background-color: #3e0881;
    font-size: 15px;
    height: 30px;
    width: 150px;
    color: white;
}
.main-content.search-button input{
    background-color: #3e0881;
    font-size: 15px;
    height: 30px;
    width: 150px;
    color: white;
}