@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
body{
    height: 650px;
    width: 100%;
    background-image:url('../public/stddata.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
.main-content{
    background-color:rgb(237, 233, 233);
    height: 375px;
    width:45%;
    border: 3px solid black;
    border-radius: 7px;
    opacity: 5; 
    text-align: center; 
    margin:auto;
    margin-top: 100px;
}

.main-content h1{
    color: rgb(51, 34, 92);
    font-family:cursive ;
    font-weight: bold;
    font-style: oblique;
    padding: 1rem;
}
h2:hover{
    color: black;
}
.maincontent{
    background-color:rgb(237, 233, 233);
    height: 470px;
    width: 45%;
    border: 3px solid black;
    border-radius: 7px;
    opacity: 5;
    text-align: center; 
    margin:auto;
    margin-top: 85px;
    
}
.navbar{
    height: 80px;
    background-color: #5F9EA0;
}
.navbar:hover{
    background-color: #696969;
}
.navbar-brand {
    font-style: italic;
    font-size: 30px;
}
.navbar-nav {
    display: inline-block;
    margin-left: 750px;
  }
.nav-item li a{
    margin-right: 700px;
    float: left;
}
.content{
    font-size: 15px;
    font-weight: bold;
}
#submit{
    background-color: #3e0881;
    font-size: 15px;
    height: 30px;
    width: 150px;
    color: white;
}